* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 7%;
}

.nav-bar ul li {
    list-style: none;
    display: inline;
    margin-right: 40px;
}